div.desc {
  padding: 3px 0 3px;
  background-color: hsl(199, 74%, 66%);
  text-align: center;
  font-weight: 500;
  font-size: large;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 60px;
  margin-right: 60px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  padding: 20px 1em 20px;
  vertical-align: center;
}

.column img {
  margin: 40px 40px 40px 40px;
  align-items: center;
  width: 25em;
  height: 25em;
  padding: 20px 20px 20px 20px;
  background-position: center;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
