<style>

#customers {
  font-family: "Raleway", sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 80;
}

#customers td, #customers th {
  border: 5px solid rgba(22, 9, 3, 0.452);
  padding: 15px;
}

#customers {
  margin-left: auto; 
  margin-right: auto;
}
#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: hsl(199, 74%, 66%);
  color: white;
}
</style>